.content-body {
  width: 800px;
  background-color: #675c6b;
  border-radius: 15px;
  margin-top: 30px;
  padding: 20px;
}

.card-title {
  background-color: #ceb0b0;
  color: #212121d3;
  border-radius: 15px;
  margin: 10px 0;
}

.report-container {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.report-card {
  background-color: #787780;
  width: 100%;
  max-width: 800px;

  mat-card-header {
    color: #fff;
    padding: 20px;
  }

  mat-card-content {
    color: #fff;
    padding: 20px;
  }
}

.error-card {
  padding: 20px;
  color: #fff;
}
