<app-header />

<div class="container--centered">
  <div class="content-body">
    <ul class="info-panel">
      <li>First name</li>
      <li>Last name</li>
      <li>Notes</li>
      <li>Company's website</li>
      <li>Phone number</li>
    </ul>

    <div *ngIf="recruiter" class="action-panel">
      <mat-form-field appearance="fill" class="first-name-field">
        <mat-label> First name </mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="recruiter.firstName"
          name="firstName"
          required
          #firstNameInput="ngModel"
        />
        <button
          *ngIf="recruiter.firstName"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="recruiter.firstName = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-error
          *ngIf="
            firstNameInput.invalid &&
            (firstNameInput.dirty || firstNameInput.touched)
          "
          >First name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" class="last-name-field">
        <mat-label> Last name </mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="recruiter.lastName"
          name="lastName"
          required
          #lastNameInput="ngModel"
        />
        <button
          *ngIf="recruiter.lastName"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="recruiter.lastName = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-error
          *ngIf="
            lastNameInput.invalid &&
            (lastNameInput.dirty || lastNameInput.touched)
          "
          >Last name is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" class="notes-field">
        <mat-label> Notes </mat-label>
        <textarea matInput [(ngModel)]="recruiter.notes" rows="10"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill" class="website-field">
        <mat-label> Company's website </mat-label>
        <input
          matInput
          type="url"
          [(ngModel)]="recruiter.company"
          name="company"
          required
          #companyInput="ngModel"
        />
        <button
          *ngIf="recruiter.company"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="recruiter.company = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-error
          *ngIf="
            companyInput.invalid && (companyInput.dirty || companyInput.touched)
          "
          >Website is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" class="phone-number-field">
        <mat-label> Phone number </mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="recruiter.phoneNumber"
          name="phoneNumber"
          required
          #phoneNumberInput="ngModel"
        />
        <button
          *ngIf="recruiter.phoneNumber"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="recruiter.phoneNumber = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-error
          *ngIf="
            phoneNumberInput.invalid &&
            (phoneNumberInput.dirty || phoneNumberInput.touched)
          "
          >Phone number is required</mat-error
        >
      </mat-form-field>
    </div>
    <div class="button-column">
      <button
        class="edit-confirm-button"
        mat-raised-button
        color="primary"
        (click)="onClick()"
      >
        {{ buttonText }}
      </button>
    </div>
  </div>
</div>
