.content-body {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 10px;
  height: calc(100vh - 64px);
  width: 65%;
}

.left-panel {
  flex: 1;
}

.title-box {
  border-radius: 15px;
  background-color: #ecdcff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}

.account-list {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #ecdcff;
}

.account-list-item {
  border-top: 1px solid #b38ddf;
}

.account-list-item:last-child {
  border-bottom: 1px solid #b38ddf;
}

.account-list-item:hover {
  color: #000;
  background-color: #b38ddf;
}

.account-list-text {
  color: #000;
}

.right-panel {
  flex: 1;
}

.report-list {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #ecdcff;
}

.report-list-item {
  border-top: 1px solid #b38ddf;
}

.report-list-item:last-child {
  border-bottom: 1px solid #b38ddf;
}

.report-list-item:hover {
  color: #000;
  background-color: #b38ddf;
}

.report-list-text {
  color: #000;
}
